<p id="notice"><%= notice %></p>

<h1>Должности</h1>

<%= link_to '+  Добавить должность', new_position_path %>


<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.name %></td>
        <td><%= link_to 'Изменить', edit_position_path(position) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

