<p id="notice"><%= notice %></p>

<p>
  <strong>Должность:</strong>
  <%= @position.name %>
</p>

<%= link_to 'Редактировать', edit_position_path(@position) %> |
<%= link_to 'К списку должностей', positions_path %>
