<% if user.state.to_i != UsersHelper::FIRED_STATE %>
  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2>Ошибка:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label "Фамилия" %>
      <%= form.text_field :last_name, id: :user_last_name %>
    </div>

    <div class="field">
      <%= form.label "Имя" %>
      <%= form.text_field :first_name, id: :user_first_name %>
    </div>

    <div class="field">
      <%= form.label "Отдел" %>
      <%= form.select(:department_id, options_for_select(DepartmentsHelper.prepare_for_select_box, user.department_id.to_i)) %>
    </div>

    <div class="field">
      <%= form.label "Должность" %>
      <%= form.select(:position_id, options_for_select(PositionsHelper.prepare_for_select_box, user.position_id.to_i)) %>
    </div>

    <div class="field">
      <%= form.label "Оклад" %>
      <%= form.number_field :salary, id: :user_salary %>
    </div>

    <% if !user.is_new %>
      <div class="field">
        <%= form.label "Статус" %>
        <%= UsersHelper::STATES[user.state.to_i] %>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit "Сохранить" %>
    </div>
  <% end %>

  <br>
  <br>

  <% if !user.is_new %>
    <%= form_tag("/users/fire", method: "post") do %>
      <%= hidden_field_tag "user_id", user.id %>
      <%= label_tag(:reason, "Причина увольнения") %>
      <%= text_field_tag(:reason) %>
      <%= submit_tag("Уволить") %>
    <% end %>
  <% end %>

<% end %>

<% if !user.is_new %>
    <%= link_to 'Посмотреть историю изменений', controller: 'transactions', :action => "show" %>
<% end %>




<br>
<br>
