<p id="notice"><%= notice %></p>

<h1>Сотрудники</h1>

<%= link_to '+ Добавить сотрудника', new_user_path %>

<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отдел</th>
      <th>Должность</th>
      <th>Зарплата</th>
      <th>Статус</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= Department.get_name_by_id(user.department_id) %></td>
        <td><%= Position.get_name_by_id(user.position_id) %></td>
        <td><%= user.salary %></td>
        <td><%= UsersHelper::STATES[user.state] %></td>
        <td><%= link_to 'Редактировать', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

