<p id="notice"><%= notice %></p>

<p>
  <strong>Фамилия:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Отдел:</strong>
  <%= Department.get_name_by_id(@user.department_id) %>
</p>

<p>
  <strong>Должность:</strong>
  <%= Position.get_name_by_id(@user.position_id) %>
</p>

<p>
  <strong>Оклад:</strong>
  <%= @user.salary %>
</p>

<p>
  <strong>Статус:</strong>
  <%= UsersHelper::STATES[@user.state] %>
</p>

<%= link_to 'Изменить', edit_user_path(@user) %> |
<%= link_to 'К списку сотрудников', users_path %>

