<p id="notice"><%= notice %></p>

<h1>Отделы</h1>

<%= link_to '+  Добавить отдел', new_department_path %>


<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= link_to 'Изменить', edit_department_path(department) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

