<p id="notice"><%= notice %></p>

<p>
  <strong>Отдел:</strong>
  <%= @department.name %>
</p>

<%= link_to 'Редактировать', edit_department_path(@department) %> |
<%= link_to 'К списку отделов', departments_path %>
