<p id="notice"><%= notice %></p>

<h1>История операций по сотруднику </h1>

<table>
  <thead>
    <tr>
    <td>Дата</td>
        <td>Параметр</td>
        <td>Было</td>
        <td>Стало</td>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= Time.at(transaction.date) %></td>
        <td><%= TransactionsHelper::DESCRIPTIONS[transaction.type_id] %></td>
        <td><%= transaction.old_value %></td>
        <td><%= transaction.new_value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

