<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

	<link href="css/bootstrap.min.css" rel="stylesheet"> 
	<link href="css/styles.css" rel="stylesheet">
	
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to 'Сотрудники', controller: 'users' %> | 
    <%= link_to 'Должности', controller: 'positions' %> |
    <%= link_to 'Отделы', controller: 'departments' %> 

    <hr>

    <%= yield %>

  </body>
</html>
